<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleGitClient.Properties.EnvSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SimpleGitClient.Properties.EnvSettings>
            <setting name="LogWindowLeft" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="LogWindowTop" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="LogWindowWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="LogWindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="CommitWindowLeft" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="CommitWindowTop" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="CommitWindowWidth" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="CommitWindowHeight" serializeAs="String">
                <value>800</value>
            </setting>
        </SimpleGitClient.Properties.EnvSettings>
    </userSettings>
</configuration>